/*ПЕРШИЙ ПРЯМОКУТНИК*/
.flex_box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 3px solid black;
    background: black;
}

.box1,.box2,.box3,.box4,.box5,.box6{
    height: 400px;
    width: 250px;
    margin: 10px;
    outline: 3px solid white;
    background: #ffd500;
}

.block1{
    outline: 3px solid black;
    height: 20px;
    width: 20px;
    margin: 10px;
    background: blue;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box1{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap:wrap;

}.korobka{
    height: 10px;
    width: 10px;
    background: black;
 }

/*ДРУГИЙ ПРЯМОКУТНИК*/
.box2{
    display: flex;
    justify-content: center;
    flex-flow:column wrap;

}
.block2{
    display: flex;
    height: 20px;
    width: 100%;
    background: black;
    margin:0 0 auto;
}

.korobka1{
    height: 100%;
    width: 12px;
    background: #ffd500;
    margin-left: 10px;
}

.korobka2{
    height: 100%;
    width: 12px;
    background: #ffd500;
    margin-right: 10px;
}
/*ТРЕТІЙ ПРЯМОКУТНИК*/
.box3{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.block3{
    height: 40px;
    width: 250px;
    margin-top: 10px;
    background: #4fa200;
}
/*ЧЕТВЕРТИЙ ПРЯМОКУТНИК*/

.box4{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
}

.block4{
    height: 130px;
    width: 70px;
    background: darkblue;

}

/*ПЯТИЙ ПРЯМОКУТНИК*/
.box5{
    display: flex;
    justify-content: center;
    align-items: center;
}
.a,.b,.c,.d,.e,.f,.g,.h,.i{
    height: 90%;
    width: 80%;
    background: orangered;
    display: flex;
    justify-content: center;
    align-items: center;
}

.b{
    background: #deef00;
}

.c{
    background: #a600ff;
}
.d{
    background: darkblue;
}
.e{
    background: chartreuse;
}
.f{
    background: #000000;
}
g{
    background: mediumvioletred;
}
.h{
    background: maroon;
}
.i{
    background: #ffffff;
}

/*ШОСТИЙ ПРЯМОКУТНИК*/
.box6{
    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;
    align-content: space-around;
}
.size {
    height: 100px;
    width: 100px;
}
.block7,.block8,.block9{
    height: 100px;
    width: 100px;
    margin-bottom: 4px;
    border-radius: 50%;
    outline: 2px solid black;
}
.block7{
    background: red;
}
.block8{
    background: #efff00;
}
.block9{
    background: #47c500;
}

.block7:hover{
    opacity: 10%;
}
.block8:hover{
    opacity: 10%;
}
.block9:hover{
    opacity: 10%;
}