/*--- C S S. R E S E T ---*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
    box-sizing: border-box;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

*{

    font-family: 'Roboto', sans-serif;
}

a{
    text-decoration: none;
}

/*--- N A V I G A T I O N ---*/
nav{
    background-color: #0F2438;
}
.container_nav{
    max-width: 1350px;
    margin: 0 auto;
    width: 100%;
}
.location_img{
    height: 20px;
}
.location_block{
    display: flex;
    justify-content: start;
    color: white;
}
.location_block:hover{
    color: white;
}
.nav_inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #0F2438;
    padding: 7px 0;
    width: 100%;
}
.nav-link:focus, .nav-link:hover{
    color: white;
}
.info_drop{
    color: white;
}
.info_drop:hover{
    color: white;
}
.dropdown-item{
    color: black;
}
/*---L E F T---*/

.nav_left{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 40%;
}

/*---R I G H T---*/
.nav_right{
    display: flex;
    justify-content: space-between;
    width: 50%;
}
.nav_right a{
    color: white;
}
/*---I N T R O  T O P---*/
.intro_top{
    display: flex;
    flex-flow: row wrap;
}
/*---BLOCK1(LOGO)---*/
.container{
    max-width: 1350px;
    margin:0 auto;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0;

}

.container{
    margin-top: 20px;
}

.logo{
    height: 71px;
    margin-right: 15px;
}
.logo_title{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    color: black;
    padding-left:5px ;
}

.logo_subtitle{
    font-family: 'Roboto', sans-serif;    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 14px;
    color: black;
    padding-left:5px ;
}
.intro_item1{
    display: flex;
    justify-content: space-between;
    width: 22%;
}

.logo_text{
    display: flex;
    flex-flow: column;
    justify-content: center;
}
/*---BLOCK2(TIME)---*/
.intro_item2{
    display: flex;
    justify-content: space-around;
}
.icon_time{
    height: 32px;
    margin-right:10px;

}
.time_text{
    display: flex;
    flex-flow: column;
}
.time_title,.time_subtitle{
    color: black;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    text-align: end;
}
/*---BLOCK3(ADDRESS)---*/
.intro_item3{
    display: flex;
    align-items: center;
}

.icon_address{
    height: 32px;
}
.address_text{
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: black;
}
/*---BLOCK4(WHATSAPP)---*/
.intro_item4{
    display: flex;
    align-items: center;
    background: #E1EFD0;
    border-radius: 2px;
}
.icon_whatsapp{
    height: 16px;
    padding-left: 8px;
}
.whatsapp_text{
    font-family: 'Rubik', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    text-align: right;
    color: black;
    padding: 8px 8px;
}
/*---BLOCK5(TELEPHONE)---*/
.telephone_text{
    display: flex;
    flex-flow:column wrap ;
}
.telephone_title{
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    color: #000000;
}
.telephone_subtitle{
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    text-decoration-line: underline;
    color:black;
}
/*---I N T R O  B O T ---*/
.intro_bot{
    display: flex;
}

/*---BLOCK6(CATALOG)---*/
.intro_item6{
    padding: 10px;
    background-color: #005BB9;
    border-radius: 6px;
}

.catalog_text{
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    background-color: #005BB9;
    border-color: #005BB9;
}
.intro_item6:hover .catalog_text{
    background-color: #005BB9;
}
/*---BLOCK7(SEARCH)---*/
.search{
    width: 649px;
    height: 53px;
}
.search_input{
    background: #F4F5FA;
    border-radius: 6px 0 0 6px;
    width: 649px;
}
.search_button{
    background: #005BB9;
    border-radius: 0 6px 6px 0;
    color: white;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    width: 101px;
    display: flex;
    justify-content: center;
}
/*---BLOCK7(PANEL)---*/
.panel{
    display: flex;
    justify-content: space-between;
}
.intro_item7{
    display: flex;
    align-items: center;
    margin-left: 45px;

}
.panel_img{
    height: 28px;
    padding-right: 10px;
}
.panel_text{
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    color: black;
}
/*---M A I N ---*/
/*---BLOCK1(SLIDER)---*/

/*---carousel icon background avt-zap---*/

.container_main {
    max-width: 1350px;
    margin: 20px auto;
    width: 100%;
    display: flex;

}
.main_inner{
    width: 85%;
}
.carousel-item{

}
.background_div{
    background: #6D8AD4;
    overflow: hidden;
    border-radius: 20px;
}

.main_background{
    mix-blend-mode: overlay;
    position: absolute;
}
.carousel-inner{
    display: flex;
    justify-content: start;
    padding-right: 25px;
}

.carousel-indicators [data-bs-target] {
    height: 15px;
    width: 15px;
    border-radius: 50%;
    margin-right: 20px;
}

.carousel-indicators .active{
    background-color: black;
    opacity: 90%;
}

.carousel-control-next-icon, .carousel-control-prev-icon{
    border-radius: 50%;
    background-color: #070085;
    height: 40px;
    width: 40px;
    opacity: 80%;
}

.visually-hidden, .visually-hidden-focusable:not(:focus):not(:focus-within){
    color: black ;

}

/*---text button---*/
.main_text {
    position: absolute;
    top: 80px;
    left: 150px;
    display: flex;
    flex-flow: column wrap;
    justify-content: start;
}
.carousel .slide .main_item1 .background_div{
    display: flex;
    justify-content: end;
}
.test_img{
padding-left: 50%;
}

.main_title{
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 42px;
    color: #0A1A2C;
    margin-bottom: 10px;
}
.main_subtitle{
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 23px;
    text-decoration-line: underline;
    color: #717171;
    margin-bottom: 20px;

}
.main_price1{
    font-style: normal;
    font-weight: 500;
    font-size: 37px;
    line-height: 43px;
    color: #005BB9;

}
.main_price2{
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 26px;
    text-decoration-line: line-through;
    color: #C2C5DA;

}
.btn_buy{
    background: #005BB9;
    border-radius: 6px;
    display: flex;
    align-items: center;
    margin-top: 10px;
    width: 160px;

}
.btn_img{
    height: 30px;
    padding-right: 10px;
}
/*---BLOCK2(SALE TOP)---*/
/*---structure---*/
.main_inner_right{
    display: flex;
    flex-flow: column;
    justify-content: space-between;
}
.sale_top{
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    height: 49%;
    background: #F4F5FA;
    border-radius: 10px;
    margin-left: 10px;

}
.aaa{
    display: flex;
}
.btn_sale{
    display: inline-block;
    background: #005BB9;
    border-radius: 6px;
    align-items: center;

}
.sale_top_item2{
    margin-left: 20px;
}
.sale_top_item3{
    display: flex;
    justify-content: end;
    align-items: center;
    margin: 0 35px 12px 0;


}
/*---text---*/
.sale_text1{
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: black;
    margin: 10px 0 0 20px;

}
.sale_text2{
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 23px;
    color: black;
    margin-left: 10px;
}
.sale_text3{
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
}
.sale_text4{
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 23px;
    color: #FFB800;

}

.sale_text5{
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    text-decoration-line: line-through;
    color: #C2C5DA;
    margin-right: 30px;
}
/*---C A T E G O R Y---*/
.category_inner{
    width: 32.6%;
    margin-top: 40px;
}

.category_item{
    display: flex;
    justify-content: space-between;
    background: #FFFFFF;
    border: 1px solid #E1E5F8;
    box-sizing: border-box;
    border-radius: 6px;
}
.category_text{
    display: flex;
    flex-flow: column;
    justify-content:space-around;
    width: 40%;
    margin-left: 5%;

}
.category_title{
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    display: flex;
    align-items: center;
}
.category_subtitle{
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
}
.btn_link{
    background: #005BB9;
    border-radius: 4px;
    width: 90px;
}

.category_img{
    height: 200px;
}
.carousel-control-next, .carousel-control-prev{
    width: 10%;
}